@media (max-width: 991px){
.HtmlFooter {
    padding: 0px !important;
}
}


.panel-default {
    border-color: #008fd5;
    padding: 0px !important;
    margin-bottom: 0px !important;
}

.panel-default > .panel-heading {
    background-color: #008fd5;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #008fd5;
}

/****** FULL WIDTH ADJUSTMENT ******/
.home .MPContentArea .row-full {
	max-width: 100% !important;
	align-content: center !important;
}