<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style type="text/css">
.carousel-control.left {
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
    filter: none !important;
    background-repeat: none !important;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
    filter: none !important;
    background-repeat: none !important;
}

p.video-caption {
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 1em;
    padding: 1em;
    overflow: visible;
    overflow-wrap: break-word;
    max-width: 810px !important;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100% !important;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
</style>