footer .social a {
  display: block;
  width: 66px;
  height: 65px;
  float: left;
  clear: none;
  margin-right: 10px;
}

footer .social a.fb {
  background: transparent
    url(https://s3.amazonaws.com/agaassets/images/icon-socials2.png) no-repeat 0 -65px;
}

footer .social a.fb:hover {
  background-position: 0 0;
}

footer .social a.li {
  background: transparent
    url(https://s3.amazonaws.com/agaassets/images/icon-socials2.png) no-repeat -66px -65px;
}

footer .social a.li:hover {
  background-position: -66px 0;
}

footer .social a.yt {
  background: transparent
    url(https://s3.amazonaws.com/agaassets/images/icon-socials2.png) no-repeat -132px -65px;
}

footer .social a.yt:hover {
  background-position: -132px 0;
}

footer .social a.tw {
  background: transparent
    url(https://s3.amazonaws.com/agaassets/images/icon-socials2.png) no-repeat -198px -65px;
}

footer .social a.tw:hover {
  background-position: -198px 0;
}

footer .social a.ds {
  background: transparent
    url(https://s3.amazonaws.com/agaassets/images/icon-socials2.png) no-repeat -264px -65px;
}

footer .social a.ds:hover {
  background-position: -264px 0;
}
