<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7315016/6207792/css/fonts.css" />

<style>

  html, body, h1, h2, h3, h4, h5, h6 p, table, li, ul, ol, a {
      font-family: "Gotham SSm A", "Gotham SSm B", sans-serif !important;
      font-style: normal;
      font-weight: 400;
  }
  
</style>